[submodule "dotvim/pack/a3linux/start/vim-sensible"]
	path = dotvim/pack/a3linux/start/vim-sensible
	url = https://github.com/a3linux/vim-sensible
[submodule "dotvim/pack/thirds/start/papercolor-theme"]
	path = dotvim/pack/thirds/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "dotvim/pack/thirds/start/vim-airline"]
	path = dotvim/pack/thirds/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dotvim/pack/thirds/start/vim-airline-themes"]
	path = dotvim/pack/thirds/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "dotvim/pack/thirds/start/fzf.vim"]
	path = dotvim/pack/thirds/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "dotvim/pack/thirds/start/ale"]
	path = dotvim/pack/thirds/start/ale
	url = https://github.com/w0rp/ale.git
