[submodule "dotvim/pack/a3linux/start/vim-sensible"]
	path = dotvim/pack/a3linux/start/vim-sensible
	url = https://github.com/a3linux/vim-sensible
[submodule "dotvim/pack/thirds/start/papercolor-theme"]
	path = dotvim/pack/thirds/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "dotvim/pack/thirds/start/vim-airline"]
	path = dotvim/pack/thirds/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dotvim/pack/thirds/start/vim-airline-themes"]
	path = dotvim/pack/thirds/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "dotvim/pack/thirds/start/fzf.vim"]
	path = dotvim/pack/thirds/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "dotvim/pack/thirds/start/ale"]
	path = dotvim/pack/thirds/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "dotvim/pack/thirds/start/asyncomplete.vim"]
	path = dotvim/pack/thirds/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "dotvim/pack/thirds/start/vim-lsp"]
	path = dotvim/pack/thirds/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "dotvim/pack/thirds/start/async.vim"]
	path = dotvim/pack/thirds/start/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule "dotvim/pack/thirds/start/asyncomplete-buffer.vim"]
	path = dotvim/pack/thirds/start/asyncomplete-buffer.vim
	url = https://github.com/prabirshrestha/asyncomplete-buffer.vim
[submodule "dotvim/pack/thirds/start/asyncomplete-file.vim"]
	path = dotvim/pack/thirds/start/asyncomplete-file.vim
	url = https://github.com/prabirshrestha/asyncomplete-file.vim.git
[submodule "dotvim/pack/thirds/start/asyncomplete-emoji.vim"]
	path = dotvim/pack/thirds/start/asyncomplete-emoji.vim
	url = https://github.com/prabirshrestha/asyncomplete-emoji.vim.git
[submodule "dotvim/pack/thirds/start/asyncomplete-omni.vim"]
	path = dotvim/pack/thirds/start/asyncomplete-omni.vim
	url = https://github.com/yami-beta/asyncomplete-omni.vim.git
[submodule "dotvim/pack/thirds/start/ultisnips"]
	path = dotvim/pack/thirds/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "dotvim/pack/thirds/start/vim-snippets"]
	path = dotvim/pack/thirds/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "dotvim/pack/thirds/start/asyncomplete-ultisnips.vim"]
	path = dotvim/pack/thirds/start/asyncomplete-ultisnips.vim
	url = https://github.com/prabirshrestha/asyncomplete-ultisnips.vim.git
[submodule "dotvim/pack/thirds/start/vim-gutentags"]
	path = dotvim/pack/thirds/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "dotvim/pack/thirds/start/asyncomplete-tags.vim"]
	path = dotvim/pack/thirds/start/asyncomplete-tags.vim
	url = https://github.com/prabirshrestha/asyncomplete-tags.vim.git
[submodule "dotvim/pack/thirds/start/asyncomplete-lsp.vim"]
	path = dotvim/pack/thirds/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "dotvim/pack/thirds/start/vim-better-whitespace"]
	path = dotvim/pack/thirds/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "dotvim/pack/thirds/start/vim-surround"]
	path = dotvim/pack/thirds/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotvim/pack/thirds/start/vim-repeat"]
	path = dotvim/pack/thirds/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "dotvim/pack/thirds/start/vim-fugitive"]
	path = dotvim/pack/thirds/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotvim/pack/thirds/start/vim-git"]
	path = dotvim/pack/thirds/start/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "dotvim/pack/thirds/start/auto-pairs"]
	path = dotvim/pack/thirds/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "dotvim/pack/thirds/start/vim-autoclose"]
	path = dotvim/pack/thirds/start/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "dotvim/pack/thirds/start/vim-gitgutter"]
	path = dotvim/pack/thirds/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "dotvim/pack/thirds/start/tagbar"]
	path = dotvim/pack/thirds/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "dotvim/pack/thirds/start/groovy.vim"]
	path = dotvim/pack/thirds/start/groovy.vim
	url = https://github.com/vim-scripts/groovy.vim.git
[submodule "dotvim/pack/thirds/start/Jenkinsfile-vim-syntax"]
	path = dotvim/pack/thirds/start/Jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
[submodule "dotvim/pack/thirds/start/vim-terraform"]
	path = dotvim/pack/thirds/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "dotvim/pack/thirds/start/nerdcommenter"]
	path = dotvim/pack/thirds/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "dotvim/pack/thirds/start/vim-lexical"]
	path = dotvim/pack/thirds/start/vim-lexical
	url = https://github.com/reedes/vim-lexical.git
[submodule "dotvim/pack/thirds/start/nerdtree"]
	path = dotvim/pack/thirds/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "dotvim/pack/thirds/start/nerdtree-git-plugin"]
	path = dotvim/pack/thirds/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "dotvim/pack/thirds/start/vim-nerdtree-tabs"]
	path = dotvim/pack/thirds/start/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
